/* Основной контейнер */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

/* Заголовок */
.login-title {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Ошибка */
.error {
  font-size: 16px;
  color: #e74c3c;
  font-weight: bold;
  padding: 8px;
  max-width: 400px;
  text-align: center;
  background: #fee;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

/* Форма */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 320px; 
}

/* Поля ввода */
.input-field {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box; 
  transition: border 0.3s ease-in-out;
}

.input-field:focus {
  border-color: #3498db;
  outline: none;
}

/* Кнопка */
.login-button {
  display: block;
  background-color: #3498db;
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s ease;
  font-weight: bold;
  width: 100%;
  text-align: center;
  box-sizing: border-box; 
}

.login-button:hover {
  background-color: #2980b9;
  transform: scale(1.03);
}

.login-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-input {
  padding-right: 40px; 
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.password-toggle:hover {
  color: #555; 
  transform: translateY(-50%);
}


@media (max-width: 600px) {
  .login-title {
      font-size: 22px;
  }

  .input-field {
      font-size: 14px;
      padding: 10px;
  }

  .login-button {
      font-size: 16px;
      padding: 10px;
  }
}

@media (min-width: 1200px) {
  .login-container {
      max-width: 400px;
      margin: 0 auto;
  }

  .login-form {
      max-width: 350px;
  }
}
